name: Build Bind Docker images
on:
  push:
    branches: [ master ]

env:
  DOCKER_HUB_TAG: xuwenkeke/sameersbn-bind:9.16.1-20200524

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
        with:
          repository: xuwenkeke/docker-bind
          ref: 9.16.1-20210528
          token: ${{ secrets.GH_TOKEN }}
        
      - name: Change Dockerfile image
        run: |
          cat Dockerfile
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1        
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ env.DOCKER_HUB_TAG }}
      -
        name: Test
        run: |
          docker run -d -p 8081:8081 ${{ env.DOCKER_HUB_TAG }}
          sleep 30 && curl -v http://localhost:8081/nexus/service/local/status
